<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--Be forewarned: Only the LSA can unencrypt the files.-->
    <add key="EncryptionEnabled" value="false"/>
    <add key="SourceLocation" value="sourcePath"/>
    <!--TargetLocations can be semi-colon delimited-->
    <add key="TargetLocations" value="targetPath2;targetPath2;etc..."/>
  </appSettings>
</configuration>